.html {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

*{
    box-sizing: border-box;
}


#chatbox-logo {
    width: 1.45em;
    height: 1.45em;
   

}

#img-desc, 
.footer-desc {
    letter-spacing: -0.03em;
}

#img-desc {
    padding-left: 0.193em;
    font-weight: 700;
    font-size: 0.847em;
    line-height: 1.082; 
    color: #0E0E0E;
}

img {
    width: 100%
}
.navbar {
    list-style: none;
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
nav li {
    margin-left: 1em;
}
.nav-link, 
.view-info {
    text-decoration: none;
    color: black;
}


.article-hero-image{
    background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), 
    url('images/blog-image-hero.png');
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-size: cover;
   
}

.hero-container {
    color: white;
    padding:5.440em 1.35em 1.563em 1.25em;
}

.hero-datetime {
    line-height: 1.25;
    font-size: 0.75em;
    margin: 0 auto;
}

.hero-datetime,
.hero-desc {
    font-weight: 400;
}

#journal-heading {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.082;
}
.hero-desc {
    line-height: 1.25;
    font-size: 1rem;
}

.product-display .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 1.25em;
    color: #505050;
}

.product-display
.img-display {
    padding-top: 1.6rem;
}

.product-desc {
    font-weight: 400;  
    line-height: 1.25;
}

.item-heading{
   font-weight: 700;
   font-size: 1.5rem;
   line-height: 1.082;
   color: #141414;
   margin: 0
}

.product-datetime {
    font-size: 14.1735px;
    font-weight: 400;
    color: #000000;
    line-height: 18px;
}

.view-info {
    display: block;
    text-align: center;
    padding: 0.625em 0;
    text-decoration-line: underline;

}

footer {
    text-align: center;
    font-size: 0.75em;
}
.copyright {
    font-weight: 400;
    line-height: 1.25;
    padding-top: 0.1875em;
}
.footer-desc {
    font-weight: 700;
    line-height: 1.082;
 
}

@media (min-width:919px) {
    body {
        font-size: 1.1rem;
        line-height: 1.25;
    }
    .product-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-gap: 1em;
        justify-items: center;
        align-items: center;
        margin: 0.625em 1.25em;
           
    }
  .view-info {
        display: block;
        margin-left: auto;
        margin-right: auto;
    } 

    .header {
        display: flex;
        padding-left: 0.85em;
    }

    .img-desc {
        font-size: 1rem;
    }
   .header , .navigation{
      display: flex;
      align-items: center;
      justify-content: start;
        
    }

    ul {
        padding-left: 65vw;
    }

    .img-desc {
        padding-right: 200px;
    }

}

@media (width:414px) {
    .header .navigation {
        display: flex;
        color: #090909;;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto' sans-serif;
        width: 414px;
        height: 59px; 
    }
}